<a href="#">+ADD</a>
<br/>
{% for c in tabClub %}
id : {{c.id}}
name : {{c.nom}}
Description : {{c.description}}
adress : {{c.adress}}
<a href="#">UPDATE</a>
<a href="#">DELETE</a>
<br/>
{% endfor %}